<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dut.sci.project.mapper.PaperDOMapper">
  <resultMap id="BaseResultMap" type="com.dut.sci.project.domain.PaperDO">
    <id column="paper_id" jdbcType="BIGINT" property="paperId" />
    <result column="author_ids" jdbcType="VARCHAR" property="authorIds" />
    <result column="publication_periodical" jdbcType="VARCHAR" property="publicationPeriodical" />
    <result column="paper_name" jdbcType="VARCHAR" property="paperName" />
    <result column="collection" jdbcType="VARCHAR" property="collection" />
    <result column="publication_time" jdbcType="TIMESTAMP" property="publicationTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    paper_id, author_ids, publication_periodical, paper_name, collection, publication_time
  </sql>
  <select id="selectByExample" parameterType="com.dut.sci.project.domain.PaperDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from application_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_paper
    where paper_id = #{paperId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from application_paper
    where paper_id = #{paperId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dut.sci.project.domain.PaperDOExample">
    delete from application_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dut.sci.project.domain.PaperDO">
    insert into application_paper (paper_id, author_ids, publication_periodical, 
      paper_name, collection, publication_time
      )
    values (#{paperId,jdbcType=BIGINT}, #{authorIds,jdbcType=VARCHAR}, #{publicationPeriodical,jdbcType=VARCHAR}, 
      #{paperName,jdbcType=VARCHAR}, #{collection,jdbcType=VARCHAR}, #{publicationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dut.sci.project.domain.PaperDO">
    insert into application_paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="authorIds != null">
        author_ids,
      </if>
      <if test="publicationPeriodical != null">
        publication_periodical,
      </if>
      <if test="paperName != null">
        paper_name,
      </if>
      <if test="collection != null">
        collection,
      </if>
      <if test="publicationTime != null">
        publication_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        #{paperId,jdbcType=BIGINT},
      </if>
      <if test="authorIds != null">
        #{authorIds,jdbcType=VARCHAR},
      </if>
      <if test="publicationPeriodical != null">
        #{publicationPeriodical,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null">
        #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="collection != null">
        #{collection,jdbcType=VARCHAR},
      </if>
      <if test="publicationTime != null">
        #{publicationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dut.sci.project.domain.PaperDOExample" resultType="java.lang.Long">
    select count(*) from application_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update application_paper
    <set>
      <if test="record.paperId != null">
        paper_id = #{record.paperId,jdbcType=BIGINT},
      </if>
      <if test="record.authorIds != null">
        author_ids = #{record.authorIds,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationPeriodical != null">
        publication_periodical = #{record.publicationPeriodical,jdbcType=VARCHAR},
      </if>
      <if test="record.paperName != null">
        paper_name = #{record.paperName,jdbcType=VARCHAR},
      </if>
      <if test="record.collection != null">
        collection = #{record.collection,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationTime != null">
        publication_time = #{record.publicationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update application_paper
    set paper_id = #{record.paperId,jdbcType=BIGINT},
      author_ids = #{record.authorIds,jdbcType=VARCHAR},
      publication_periodical = #{record.publicationPeriodical,jdbcType=VARCHAR},
      paper_name = #{record.paperName,jdbcType=VARCHAR},
      collection = #{record.collection,jdbcType=VARCHAR},
      publication_time = #{record.publicationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dut.sci.project.domain.PaperDO">
    update application_paper
    <set>
      <if test="authorIds != null">
        author_ids = #{authorIds,jdbcType=VARCHAR},
      </if>
      <if test="publicationPeriodical != null">
        publication_periodical = #{publicationPeriodical,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null">
        paper_name = #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="collection != null">
        collection = #{collection,jdbcType=VARCHAR},
      </if>
      <if test="publicationTime != null">
        publication_time = #{publicationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where paper_id = #{paperId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dut.sci.project.domain.PaperDO">
    update application_paper
    set author_ids = #{authorIds,jdbcType=VARCHAR},
      publication_periodical = #{publicationPeriodical,jdbcType=VARCHAR},
      paper_name = #{paperName,jdbcType=VARCHAR},
      collection = #{collection,jdbcType=VARCHAR},
      publication_time = #{publicationTime,jdbcType=TIMESTAMP}
    where paper_id = #{paperId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.dut.sci.project.domain.PaperDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from application_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.dut.sci.project.domain.PaperDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from application_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <resultMap id="BaseResultMap" type="com.dut.sci.project.domain.PaperDO">
    <id column="paper_id" jdbcType="BIGINT" property="paperId" />
    <result column="author_ids" jdbcType="VARCHAR" property="authorIds" />
    <result column="publication_periodical" jdbcType="VARCHAR" property="publicationPeriodical" />
    <result column="paper_name" jdbcType="VARCHAR" property="paperName" />
    <result column="collection" jdbcType="VARCHAR" property="collection" />
    <result column="publication_time" jdbcType="TIMESTAMP" property="publicationTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    paper_id, author_ids, publication_periodical, paper_name, collection, publication_time
  </sql>
  <select id="selectByExample" parameterType="com.dut.sci.project.domain.PaperDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from application_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_paper
    where paper_id = #{paperId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from application_paper
    where paper_id = #{paperId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dut.sci.project.domain.PaperDOExample">
    delete from application_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dut.sci.project.domain.PaperDO">
    insert into application_paper (paper_id, author_ids, publication_periodical, 
      paper_name, collection, publication_time
      )
    values (#{paperId,jdbcType=BIGINT}, #{authorIds,jdbcType=VARCHAR}, #{publicationPeriodical,jdbcType=VARCHAR}, 
      #{paperName,jdbcType=VARCHAR}, #{collection,jdbcType=VARCHAR}, #{publicationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dut.sci.project.domain.PaperDO">
    insert into application_paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="authorIds != null">
        author_ids,
      </if>
      <if test="publicationPeriodical != null">
        publication_periodical,
      </if>
      <if test="paperName != null">
        paper_name,
      </if>
      <if test="collection != null">
        collection,
      </if>
      <if test="publicationTime != null">
        publication_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        #{paperId,jdbcType=BIGINT},
      </if>
      <if test="authorIds != null">
        #{authorIds,jdbcType=VARCHAR},
      </if>
      <if test="publicationPeriodical != null">
        #{publicationPeriodical,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null">
        #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="collection != null">
        #{collection,jdbcType=VARCHAR},
      </if>
      <if test="publicationTime != null">
        #{publicationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dut.sci.project.domain.PaperDOExample" resultType="java.lang.Long">
    select count(*) from application_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update application_paper
    <set>
      <if test="record.paperId != null">
        paper_id = #{record.paperId,jdbcType=BIGINT},
      </if>
      <if test="record.authorIds != null">
        author_ids = #{record.authorIds,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationPeriodical != null">
        publication_periodical = #{record.publicationPeriodical,jdbcType=VARCHAR},
      </if>
      <if test="record.paperName != null">
        paper_name = #{record.paperName,jdbcType=VARCHAR},
      </if>
      <if test="record.collection != null">
        collection = #{record.collection,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationTime != null">
        publication_time = #{record.publicationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update application_paper
    set paper_id = #{record.paperId,jdbcType=BIGINT},
      author_ids = #{record.authorIds,jdbcType=VARCHAR},
      publication_periodical = #{record.publicationPeriodical,jdbcType=VARCHAR},
      paper_name = #{record.paperName,jdbcType=VARCHAR},
      collection = #{record.collection,jdbcType=VARCHAR},
      publication_time = #{record.publicationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dut.sci.project.domain.PaperDO">
    update application_paper
    <set>
      <if test="authorIds != null">
        author_ids = #{authorIds,jdbcType=VARCHAR},
      </if>
      <if test="publicationPeriodical != null">
        publication_periodical = #{publicationPeriodical,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null">
        paper_name = #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="collection != null">
        collection = #{collection,jdbcType=VARCHAR},
      </if>
      <if test="publicationTime != null">
        publication_time = #{publicationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where paper_id = #{paperId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dut.sci.project.domain.PaperDO">
    update application_paper
    set author_ids = #{authorIds,jdbcType=VARCHAR},
      publication_periodical = #{publicationPeriodical,jdbcType=VARCHAR},
      paper_name = #{paperName,jdbcType=VARCHAR},
      collection = #{collection,jdbcType=VARCHAR},
      publication_time = #{publicationTime,jdbcType=TIMESTAMP}
    where paper_id = #{paperId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.dut.sci.project.domain.PaperDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from application_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>